.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
  z-index: 99;
  @include sm {
    padding: 24px;
  }
  &__title {
    color: var(--white);
    font-weight: 600;
    transition: 0.5s all ease;
    &--black {
      color: var(--black);
      transition: 0.5s all ease;
    }
  }
  &__menu {
    color: var(--white);
    font-weight: 600;
    transition: 0.5s all ease;
    &--black {
      transition: 0.5s all ease;
      color: var(--black);
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  z-index: 98;
  animation: slideIn 0.5s ease-in-out;
  &--hidden {
    animation: slideOut 0.5s ease-in-out;
    transform: translateX(-100%);
  }
  &__item {
    display: flex;
    width: 480px;
    align-items: center;
    @include sm {
      width: 100%;
      padding: 0 24px;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 40px;
  }
  &__item > a {
    font-size: 40px;
    font-weight: 600;
    color: var(--black);
    @include sm {
      font-size: 24px;
    }
  }
  &__line {
    flex: 1;
    height: 1px;
    background-color: var(--black);
  }
  &__wrapper {
    display: none;
  }
  &__message {
    text-align: center;
    position: absolute;
    bottom: 40px;
    @include sm {
      padding: 0 24px;
      bottom: 24px;
    }
  }
  &__message > p {
    font-size: 16px;
    font-weight: 200;
    color: var(--black);
  }
}

// animation for menu, sliding from right to left
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

//animation for menuHidden, sliding from left to right
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.about {
  &__text {
    width: 860px;
    font-size: 24px;
    text-align: center;

    > p {
      margin-bottom: 16px;
    }

    @include sm {
      width: 100%;
      padding: 0 24px;
      font-size: 16px;
    }
  }
}
