.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
  &__title {
    color: var(--white);
    font-weight: 600;
  }
  &__menu {
    color: var(--white);
    font-weight: 600;
  }
}
