.section {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  @include sm {
    padding: 24px;
  }
  &--free {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 0 0 160px 0;
    @include sm {
      padding: 80px 24px;
    }
  }
}

.intro {
  color: var(--white);
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 300;
  @include sm {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.orbit {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;
  @include sm {
    height: 300px;
    width: 300px;
  }
  &__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    -webkit-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
    background: var(--gradient);
    padding: 2px;
    @include sm {
      height: 300px;
      width: 300px;
    }
  }
  &__block {
    background-color: var(--black);
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  &__circle {
    position: absolute;
    top: 2px;
    left: 125px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    animation: color-change 12s infinite;
    @include sm {
      top: -8px;
      left: 125px;
    }
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes color-change {
  0% {
    background-color: var(--red);
  }

  33% {
    background-color: var(--green);
  }

  66% {
    background-color: var(--blue);
  }

  100% {
    background-color: var(--red);
  }
}

.Typewriter {
  display: block;
  &__wrapper {
    color: var(--white);
    font-size: 48px;
    font-weight: 800;
    @include sm {
      font-size: 24px;
    }
  }
}

// Objective

.objective {
  max-width: 800px;
  @include sm {
    max-width: 100%;
  }
  &__text {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text > p {
    color: var(--white);
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    strong {
      font-weight: 800;
    }
    @include sm {
      font-size: 16px;
    }
  }
  &__image {
    height: 36px;
    margin: 0 16px;
    @include sm {
      height: 24px;
    }
  }
}

.wonder {
  width: 3840px;
  position: relative;
  left: 0;
  top: 0;
  animation: slide 8s linear infinite;
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: -1;
    opacity: 1;
    transition: 1s all ease;
    &--hidden {
      opacity: 0;
      transition: 0.5s all ease;
    }
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-33.333333%, 0, 0);
  }
}

// Projects

.project {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 960px;
  align-items: center;
  justify-content: center;
  &__link {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__detail {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
  }
  &__title {
    font-size: 40px;
    font-weight: 600;
    color: var(--white);
  }
  &__all {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 600;
    padding: 16px 24px;
    border-radius: 40px;
    margin-top: 40px;
  }
  &__all.red {
    background-color: var(--red);
  }
  &__all.green {
    background-color: var(--green);
  }
  &__all.blue {
    background-color: var(--blue);
  }
  &__all > p {
    margin-right: 8px;
  }
  &__description {
    font-size: 16px;
    font-weight: 200;
    color: var(--white);
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    &__image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
    }
    &__item {
      flex: 1;
      position: relative;
    }
    &__item:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 80px;
    margin-left: 16px;
  }
}

.project__wrapper > div:not(:last-child) {
  margin-bottom: 40px;
}
